{% extends "homepage/index.html" %}

{% block title %}contato{% endblock title %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "homepage/css/contact.css" %}">
{% endblock extra_css %}

{% block content %}

<div class="main-container" id="form-container">
    <div class="sub-container" id="form-contact">
        <h4 class="form-title">Entre em contato</h4>
        <form autocomplete="off" method="post" class="contact-form">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn-submit">Enviar</button>
        </form>
    </div>
</div>

{% endblock content %}