{% extends "homepage/index.html" %}

{% block title %}contato{% endblock title %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "homepage/css/contact.css" %}">
{% endblock extra_css %}

{% block content %}

<div class="container">

    <div class="container__division-contact" id="form-contact">

        <h4 class="container__division-form-title">Entre em contato</h4>

        <form autocomplete="off" method="post" class="contact-form">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn-submit" id="btnSubmit">Enviar</button>
        </form>

    </div>

    {% comment %} <div class="container__division-contact" id="form-contact">
        <form autocomplete="off" method="post" class="contact-form">
            {% csrf_token %}
            <label for="id_name">Nome:</label>
            <input type="text" name="name" id="input_name">
            
            <label for="id_email">Email:</label>
            <input type="email" name="email" id="input_email">

            <label for="message">Mensagem:</label>
            <textarea name="message" id="input_message"></textarea>

            <button type="submit" class="btn-submit" id="btnSubmit"></button>
        </form>
    </div> {% endcomment %}

</div>

{% endblock content %}