{% extends "homepage/index.html" %}

{% block title %}contato{% endblock title %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "homepage/css/contact.css" %}">
{% endblock extra_css %}

{% block content %}

<div class="container">

    <div class="container__division-message">
        mensagem para mostrar quando a tela for maior
    </div>

    <div class="container__division-contact" id="form-contact">

        <span class="container__division-form-title">
            <h2>Entre em contato</h2>
        </span>

        <span class="container__division-contact-form">

            <form autocomplete="off" method="post" class="contact-form" id="formContact">
                {% csrf_token %}
                <span class="contact-form__span">
                    <label for="id_name">Nome:</label>
                    <input type="text" name="name" id="input_name" class="contact-form__input" placeholder="nome">
                </span>
                
                <span class="contact-form__span">
                    <label for="id_email">Email:</label>
                    <input type="email" name="email" id="input_email" class="contact-form__input" placeholder="nome@dominio.com.br">
                </span>
                
                <span class="contact-form__span">
                    <label for="message">Mensagem:</label>
                    <textarea name="message" id="input_message" placeholder="Escreva sua mensagem aqui..." class="contact-form__input"></textarea>
                </span>
                
                
                <button type="submit" class="btn-submit" id="btnSubmit">Enviar</button>
            </form>

        </span>

    </div>

</div>

<script src="{% static "homepage/js/form_validation.js" %}"></script>

{% endblock content %}