{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}">
    <link rel="stylesheet" href="{% static "homepage/css/index.css" %}">
    <title>osantoschris | {% block title %}home{% endblock title %}</title>
</head>
<body>

    <div class="header">
        <div id="nav-logo">
            <img src="{% static "homepage/img/logo.png" %}" alt="" srcset="">
        </div>

        {% comment %} Mobile menu {% endcomment %}
        <div class="menu-icon" id="menuIcon">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        {% comment %} Desktop menu {% endcomment %}
        <div class="navbar">
            <ul>
                <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url "index" %}">Home</a></li>
                <li class="{% if request.path == '/about/' %}active{% endif %}"><a href="{% url "about" %}">Quem Somos</a></li>
                <li class="{% if request.path == '/products-services/' %}active{% endif %}"><a href="{% url "products-services" %}">Produtos/Serviços</a></li>
                <li>
                    <a class="{% if request.path == '/clients/' %}active{% endif %}" href="{% url "clients" %}">Nossos Clientes</a>
                </li>
                <li>
                    <a class="{% if request.path == '/contact/' %}active{% endif %}" href="{% url "contact" %}">Contato</a>
                </li>    
            </ul>
        </div>

    </div>

    <div class="dropdown-menu" id="dropdownMenu">

        <ul>
            <li class="{% if request.path == '/' %}active{% endif %}">
                <a href="{% url "index" %}">
                    Home
                </a>
            </li>
            <li class="{% if request.path == '/about/' %}active{% endif %}">
                <a href="{% url "about" %}">
                    Quem Somos
                </a>
            </li>
            <li class="{% if request.path == '/products-services/' %}active{% endif %}">
                <a href="{% url "products-services" %}">
                    Produtos/Serviços
                </a>
            </li>
            <li class="{% if request.path == '/clients/' %}active{% endif %}">
                <a href="{% url "clients" %}">Nossos Clientes</a>
            </li>
            <li class="{% if request.path == '/contact/' %}active{% endif %}">
                <a href="{% url "contact" %}">Contato</a>
            </li>
        </ul>

    </div>

    {% block content %}
    
    <div class="main-container">
        <div class="sub-container">

            <h1 class="title">Desenvolvimento e Hospedagem de Sites Profissionais</h1>
            <h2 class="sub-title">Transforme sua presença online com nossos serviços de desenvolvimento e hospedagem de sites</h2>
            <p class="body-text">Se você está procurando por uma solução completa para desenvolver e hospedar seu site, você está no lugar certo! Nós oferecemos serviços personalizados de criação de páginas institucionais e aplicativos web que atendam às suas necessidades específicas.</p>
            <h2>Nossos Serviços</h2>
            <ul class="default-list">
                <li>Criação de Páginas institucionais</li>
                <li>Desenvolvimento de Aplicativos Web</li>
                <li>Cartão de Visita Virtual</li>
                <li>Hospedagem de Sites</li>
            </ul>
            <p class="body-text">Visite agora mesmo nossa <a href="{% url "products-services" %}">seção de produtos</a> e veja como podemos te ajudar!</p>

        </div>
    
        <div id="comments-area" class="sub-container">

            <h3>Excelente!</h3>

            <div class="coment-content">
                <img src="{% static "homepage/img/persona.jpeg" %}" alt="" srcset="">
                <span>
                    <h4>Joyce Ps</h4>
                    <p>Arquiteta</p>
                </span>
            </div>

        </div>

        <div id="more-comments" class="sub-container">
            <img src="{% static "homepage/img/persona.jpeg" %}" alt="" srcset="">
            <img src="{% static "homepage/img/persona.jpeg" %}" alt="" srcset="">
            <img src="{% static "homepage/img/persona.jpeg" %}" alt="" srcset="">
            <div class="plus-one"><a href="{% url "clients" %}">+1</a></div>
        </div>

    </div>
    
    {% endblock content %}

    <div class="footer">

        <div class="footer-header">

            <div class="logo-footer">

                
                <img class="logo" src="{% static 'homepage/img/logo.png' %}" alt="" srcset="">
                
            </div>

            <div class="social-footer">

                <img src="{% static 'homepage/img/instagram.png' %}" alt="" srcset="">
                <img src="{% static 'homepage/img/linkedin.png' %}" alt="" srcset="">
                <img src="{% static 'homepage/img/whatsapp.png' %}" alt="" srcset="">

            </div>

        </div>

        <div class="footer-content">

        </div>

    </div>

    <script src="{% static "homepage/js/script.js" %}"></script>
</body>
</html>