{% extends "homepage/index.html" %}
{% load static %}
{% block title %}produtos e serviços{% endblock title %}
{% block extra_css %}
<link rel="stylesheet" href="{% static "homepage/css/services.css" %}">
{% endblock extra_css %}
{% block content %}

<div class="container">

    <div class="container__division">
        <div class="container__division-title">
            <h2>Nossos Produtos</h2>
            <h4>Clique e saiba mais</h4>
        </div>

        <div class="container__division-products">
                {% for product in products %}

                    <a class="container__division-product ubuntu-regular" href="{% url "product_detail" product.pk %}">
                        <img src="{{ product.image.url }}" alt="product.name">
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.short_description }}</p>
                    </a>

                {% endfor %}

        </div>
    </div>

</div>

{% endblock content %}